body {
    margin: 0;
    padding: 0;
}
div.container {
    background: rgba(68, 58, 63, 0.6);
    margin: 48px 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(210, 206, 208);
}
div.container p {
    margin: 5%;
}

.navbar {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    margin: 48px 20%;
    overflow: hidden;
    max-width: 30%;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    float: left;
    text-align: center;
    padding: 14px 16px
}

.nav-link:hover {
    color:lightsteelblue;
}