<body>
    <div class="navbar">
        <div class="navbar-nav">
            <a class="nav-link" routerLink="/">home</a>
            <a class="nav-link" routerLink="/links">links</a>
            <a class="nav-link" routerLink="/photos">photos</a>
            <a class="nav-link" routerLink="/projects">projects</a>
            <a class="nav-link" routerLink="/music">music</a>
        </div>
        <div class="mailimage"><a href="mailto:jayepierce998@gmail.com"><img src="../assets/images/envelope.png" style="width: 20px;"></a></div>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</body>

